.gallery-container {
margin: 0 25%;
}
 
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 10px;
  max-width: 410px;
}

@media (max-width: 1000px) {
  
  .grid-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Dos columnas en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas aún más pequeñas */
    .grid-container img {
      width: 100%;
      height: 100%;
    }
  }
}

.grid-container img {
  width: 100%;
  height: 100%;
}